<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="col-md-2 bg-side sidebar">
	<h2>ADO.TE</h2>
	<hr>
	
<!-- Sidebar -->

  <a href="/adotar/" class="w3-bar-item w3-button">Adotar</a><br>
  <a href="/divulgar/novo_pet/" class="w3-bar-item w3-button">Divulgar</a><br>
  <a href="/divulgar/ver_pedido_adocao/" class="w3-bar-item w3-button">Solicitações</a><br>
  <a href="/divulgar/seus_pets/" class="w3-bar-item w3-button">Meus Pet cadastrado</a><br>
  <a href="/divulgar/dashboard/" class="w3-bar-item w3-button">Dashboard</a><br>
  <a href="/auth/sair/" class="w3-bar-item w3-button">Deslogar</a><br>

</div>


